# URL absoluta del backend Django. Debe terminar en /api/v1.
# Si no sabes la IP de tu backend puedes obtenerla ejecutando "ipconfig" en la terminal y buscar la direccion IPv4 del adaptador de red que estes usando.
TAJI_API_BASE_URL=http://192.168.1.100:8000/api/v1

# Tiempo máximo de cada solicitud HTTP en milisegundos.
TAJI_API_TIMEOUT_MS=12000
